main{
    min-height: 83vh;
    margin-top: 64px;
	background-color: #c1e0ea;
}
.hdr{
    min-width: 100vw;
}
#description{
    height:300px;
    width: 100%;
}
#subject{
    width:100%;
}
.add-fav{
    float: right;
}